<section class="card">
    <div class="img-container">
        <!-- Usando fill sin position: relative -->
        <!-- <img ngSrc={{index}} alt={{index}} fill> -->

        <!-- Usando fill con el position: relative -->
        <!-- <img ngSrc={{index}} alt={{index}} fill style="position: relative;"> -->
        
        <!-- Con ancho incorrecto -->
        <!-- <img ngSrc={{index}} alt="" width="100" height="200"> -->
        
        <!-- Sin ancho ni alto -->
        <!-- <img ngSrc={{index}} alt=""> -->
        
        <!-- Con ancho y alto correcto -->
        <img ngSrc={{index}} alt="" width="200" height="200">
    </div>
    <div class="text-container">
        <span>#{{index}}</span>
    </div>
</section>